<?xml version="1.0" encoding="utf-8"?>
<manifest package="li.itcc.flypostr"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--
         The following two permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <activity android:name=".MainActivity" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Authentication screens -->
        <activity android:name=".auth.ChooserActivity" android:label="@string/app_title"/>
        <activity android:name=".auth.GoogleSignInActivity" android:label="@string/app_name" />
        <activity android:name=".auth.AnonymousAuthActivity" android:label="@string/app_name" />
        <activity android:name=".auth.CustomAuthActivity" android:label="@string/app_name" />
        <activity android:name=".auth.FacebookLoginActivity" android:label="@string/app_name" />
        <activity android:name=".auth.TwitterLoginActivity" android:label="@string/app_name" />
        <activity android:name=".auth.EmailPasswordActivity" android:label="@string/app_name" />
        <activity android:name=".auth.ProgressDialogActivity" android:label="@string/app_name" />
        <!-- App screens -->
        <activity android:name=".postingAdd.PostingAddActivity" />
        <activity android:name=".postingDetail.PostingDetailActivity"/>
        <activity android:name=".exactLocation.ExactLocationActivity"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9e3a9da9afed8d416e4e0a2241bf7d45fa5dc7cc" />

    </application>
</manifest>